


/* ==================
common utilities start
==================*/
.gx-4{
    --bs-gutter-x: 30px;
}

.text-black{
    color: var(--color-black);
}
.bg-black{
    background: var(--color-black);
}
.space-y-top{
    padding-top: 120px;
    @media screen and (max-width: $lg) {
        padding-top: 100px;
    }
    @media screen and (max-width: $sm) {
        padding-top: 80px;
    }
}
.space-y-bottom{
    padding-bottom: 120px;
    @media screen and (max-width: $lg) {
        padding-bottom: 100px;
    }
    @media screen and (max-width: $sm) {
        padding-bottom: 80px;
    }
}
.space-y-margin-top{
    margin-top: 120px;
    @media screen and (max-width: $lg) {
        margin-top: 100px;
    }
    @media screen and (max-width: $sm) {
        margin-top: 80px;
    }
}
.bg-surface-base{
    background: #FAFAFA;
    &.v-dark{
        background: #1A1816;
    }
}
.container-right{
    margin-left: calc((100% - 1176px) / 2);
    @media screen and (max-width: $xl) {
        margin-left: auto;
        margin-right: auto;
        padding-left: 12px;
    }
}
.section-heading{
    position: relative;
    .heading-icon{
        position: absolute;
        left: 0;
        top: 17px;
        height: 55px;
    }
    .heading-icon + h2{
        padding-left: 42px;
    }
    span{
        font-size: 14px;
        line-height: 142.857%;
        color: var(--color-brand);
        display: block;
        margin-bottom: 7px;
    }
    h2{
        font-family: var(--ff-Marcellus);
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        color: var(--color-black);
        text-transform: uppercase;

        img{
            height: 60px;
        }
    }

    p{
        font-weight: 400;
        line-height: 150%;
        color: rgba(13, 12, 11, 0.8);
        margin-top: 16px;
    }

    @media screen and (max-width: $xl) {
        .heading-icon{
            top: 12px;
            height: 44px;
        }
        .heading-icon + h2{
            padding-left: 38px;
        }
       h2{
        font-size: 64px;
        img{
            height: 46px;
        }
       }
    }

    @media screen and (max-width: $lg) {
        h2{
            font-size: 54px;
        }
        p{
            font-size: 14px;
        }
    }
    @media screen and (max-width: $md){
        .heading-icon + h2{
            padding-left: 32px;
        }
        .heading-icon{
            height: 38px;
        }
    }
    @media screen and (max-width: $sm) {
        h2{
            font-size: 40px;
            img{
                height: 38px;
            }
        }
        .heading-icon + h2{
            padding-left: 28px;
        }
        .heading-icon{
            height: 32px;
            top: 7px;
        }
    }

    &.v-dark{
        h2{
            color: #fff;
        }
        p{
            color: #fff;
            a{
                color: #fff;
            }
        }
    }
   
}
p{
    a{
        font-weight: 500;
        color: var(--color-black);
        text-decoration: underline;
    }
}

/* ==================
common utilities end
==================*/