
:root{
    --ff-Marcellus : 'Marcellus', serif;
    --ff-red-hat : 'Red Hat Display', sans-serif;


    --color-brand: #F55837;
    --color-black: #0D0C0B;
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;